.Home {
  width: 99%;
  display: inline-block;
  height: 100vh;
  background-color: #40371E;
}

.Logo {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 65%;
  background-image: url('../../../static/StackedLogo.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}
